.header {
  margin-top: 71px;
  margin-bottom: 92px;
}
.nav-item {
  margin-right: 100px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-list {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}